<div class="container">
    <h1>Registracija Forma</h1>
    <form>
        <div class="form-group">
            <label for="ime">Ime</label>

            <input type="text" class="form-control" id="ime" required
                   [(ngModel)]="ngIme" name="ime" placeholder="Ime"
                   #ime="ngModel">
            <div [hidden]="ime.valid || ime.pristine"
                 class="alert alert-danger">
                Ime je obavezno
            </div>
        </div>

        <div class="form-group">
            <label for="prezime">Prezime</label>

            <input type="text" class="form-control" id="prezime" required
                   [(ngModel)]="ngPrezime" name="prezime" placeholder="Prezime"
                   #prezime="ngModel">
            <div [hidden]="prezime.valid || prezime.pristine"
                 class="alert alert-danger">
                Prezime je obavezno
            </div>

        </div>

        <div class="form-group">
            <label for="datumRodjenja">Datum rodjenja</label>

            <input type="date" class="form-control" id="datumRodjenja" required
                   [(ngModel)]="ngDatumRodjenja" name="datumRodjenja"
                   #datumRodjenja="ngModel">
            <div [hidden]="datumRodjenja.valid || datumRodjenja.pristine"
                 class="alert alert-danger">
                Datum rodjenja je obavezan
            </div>
        </div>

        <div class="form-group">
            <label for="funkcija">Funkcija</label>

            <input type="text" class="form-control" id="funkcija" required
                   [(ngModel)]="ngFunkcija" name="funkcija" placeholder="Konobar"
                   #funkcija="ngModel">
            <div [hidden]="funkcija.valid || funkcija.pristine"
                 class="alert alert-danger">
                Funkcija je obavezna
            </div>
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>

            <input type="email" class="form-control" id="email" required
                   [(ngModel)]="ngEmail" name="email" placeholder="vlasnik@gmail.com"
                   #email="ngModel">
            <div [hidden]="email.valid || email.pristine"
                 class="alert alert-danger">
                E-mail je obavezan
            </div>
        </div>

        <div class="form-group">
            <label for="fiksni">Fiksni</label>

            <input type="tel" class="form-control" id="fiksni"
                   [(ngModel)]="ngFiksni" name="fiksni"
                   #fiksni="ngModel">
        </div>

        <div class="form-group">
            <label for="mobilni">Mobilni</label>

            <input type="tel" class="form-control" id="mobilni"
                   [(ngModel)]="ngMobilni" name="mobilni"
                   #mobilni="ngModel">
        </div>

        <div class="form-group">
            <label for="datumZaposlenja">Datum zaposlenja</label>

            <input type="date" class="form-control" id="datumZaposlenja" required
                   [(ngModel)]="ngDatumZaposlenja" name="datumZaposlenja"
                   #datumZaposlenja="ngModel">
            <div [hidden]="datumZaposlenja.valid || datumZaposlenja.pristine"
                 class="alert alert-danger">
                Datum zaposlenja je obavezan
            </div>
        </div>

        <div class="form-group">
            <label for="datumPrekida">Datum prekida radnog odnosa</label>

            <input type="date" class="form-control" id="datumPrekida"
                   [(ngModel)]="ngDatumPrekida" name="datumPrekida"
                   #datumPrekida="ngModel">
        </div>

        <div class="form-group">
            <label for="pol">Pol</label>

            <select class="form-control" id="pol" required
                   [(ngModel)]="ngPol" name="pol"
                   #pol="ngModel">
                <option>M</option>
                <option>Z</option>
            </select>
            <div [hidden]="pol.valid || pol.pristine"
                 class="alert alert-danger">
                Pol je obavezan
            </div>
        </div>

        <button type="submit" class="btn btn-default">Registruj se</button>
    </form>
</div>
